@import './../../node_modules/bootstrap/scss/bootstrap.scss';

.App {
  position: relative;
  height: 100vh;

  .map {
    &.is-selecting-new-point {
      canvas {
        cursor: crosshair !important;
      }
    }
  }

  .route-builder {
    overflow: auto;

    .route-planner {
      .waypoints-list {
        &.disabled {
          pointer-events: none;
          opacity: 0.25;
        }

        .card {
          cursor: move;
  
          .bin-icon {
            cursor: pointer;
          }
        }
      }
    }
  }
}
